@font-face {
  font-family: "Writer";
  src: url("/fonts/writer/writer-400-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("/fonts/Anonymous_Pro/AnonymousPro-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Serif";
  src: url("/fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "Writer", "Courier New", Courier, monospace;
  font-size: 0.95em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Serif", Georgia, "Times New Roman", serif;
  font-weight: 300;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  /*color: inherit;*/
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus {
  /*color: inherit;*/
  text-decoration: underline;
}

code, pre, kbd, samp {
  font-family: "Anonymous Pro", "Courier New", "Monospace";
  font-size: 0.98em;
}
