  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <hr/>
  {{ replace . "{Year}" now.Year | markdownify }}
  {{ end }}
  </footer>
  {{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs";
    mermaid.initialize({
      startOnLoad: true,
      theme: "default",
      themeVariables: {
        background: "white",
        textColor: "#000000",
        primaryColor: "#ECECFF",
        primaryTextColor: "#131300",
        primaryBorderColor: "#9370DB",
        secondaryColor: "#d7f6ff",
        secondaryTextColor: "#000021",
        secondaryBorderColor: "#aaaa33",
        tertiaryColor: "#f9ffec",
        tertiaryTextColor: "#060013",
        tertiaryBorderColor: "#aaaa33",
        lineColor: "#000000",
        edgeLabelBackground: "rgba(232,232,232,0.8)",
        // internal box color
        clusterBkg: "#dbe63930",
        clusterBorder: "#aaaa33bf",
        fontFamily: "\"Noto  Mono\", \"Cascadia Mono\", \"DejaVu  Mono\", Menlo, Consolas, Monaco, \"Courier New\", monospace",
        fontSize: "1.02em",
      }
    });
  </script>
  {{ end }}
  </body>
</html>
