  <footer>
  {{ partial "foot_custom.html" . }}
  {{ with .Site.Params.footer }}
  <br/>
  {{ replace . "{Year}" now.Year | markdownify }}
  {{ end }}
  </footer>
  {{ if .Store.Get "hasMermaid" }}
  <!-- mermaid settings are here -->
  <script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs";
    mermaid.initialize({
      startOnLoad: true,
      theme: "base",
      themeVariables: {
        background: "#1f1f1f",
        textColor: "#f2f4f8",
        primaryColor: "#262626",
        primaryTextColor: "#f2f4f8",
        primaryBorderColor: "#525252",
        secondaryColor: "#202020",
        secondaryTextColor: "#f2f4f8",
        secondaryBorderColor: "#3f3f3f",
        tertiaryColor: "#202020",
        tertiaryTextColor: "#f2f4f8",
        tertiaryBorderColor: "#3f3f3f",
        lineColor: "#78a9ff",
        edgeLabelBackground: "#1f1f1f",
        clusterBkg: "#161616",
        clusterBorder: "#393939",
        fontFamily: "\"Noto Sans Mono\", \"Anonymous Pro\", ui-monospace, Menlo, Consolas, monospace",
        fontSize: "1.4em",
      }
    });
  </script>
  {{ end }}
  </body>
</html>
